doctype html(lang='en')

head
    title TODO
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900", rel="stylesheet", type="text/css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="/javascript/vendors/analytics.js")


body
    block body

footer
    p
        a(href="/roadmap") Roadmap
        a(href="/about") About
