div#messages
  div.head
    span.toggle Toggle
  ul
  form(action='')
    input#m(autocomplete='off')
    button Send
  script.
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    $('#messages ul').on('scroll', function(e) {
      e.stopPropagation();
    });
    $('#messages .head').on('click', function(e) {
      $('#messages').toggleClass('active');
    });
    socket.on('chat message', function(msg){
      $('#messages ul').append($('<li>').text(msg));
      $('#messages ul').scrollTop($('#messages ul')[0].scrollHeight);
    });
